body {
    background-image: url(https://akns-images.eonline.com/eol_images/Entire_Site/2020017/rs_1024x759-200117120856-1024-The-Office-Stress-Relief-2.jpg);
    background-size: 100%;
    font-family: Courier;
    height: 100vh;
}

.menu {
    background-color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}